div, figure {
	float: left;
	margin: 5px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
div {
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 4px;
}
img {
	border-radius: 10px;
}
strong {
	color: red;
}
