section {
	margin: 0;
	padding: 0;
}
section a {
	text-decoration: none;
	color: #333;
}
body {
	background-color: #222;
}
section div, section figure {
	float: left;
	margin: 5px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
section div {
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	margin: 4px;
}
section img {
	border-radius: 10px;
}
strong {
	color: red;
}
@media screen and (max-device-width: 320px) {
	body {
		margin: 0;
		padding: 0;
	}
	section div {
		margin: -1px;
		padding: 0;
	}
	section figure, section img {
		margin: 0;
		padding: 0;
		border-radius: 0;
	}
}
